.locationContainer {
  width: 100%;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;
  margin-top: 15px;
  height: 200px;
}

.shipContainer {
  width: 100%;
  background-color: white;
  padding: 24px 16px 0;
  min-height: 200px;
}

.container {
  width: 100%;
  background-color: white;
}

.loader {
  margin: auto;
  font-size: 4px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid #ece7f0;
  border-right: 1.1em solid #ece7f0;
  border-bottom: 1.1em solid #ece7f0;
  border-left: 1.1em solid #4d148c;
  top: 50%;
  transform: translateY(-50%);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 0.9s infinite linear;
  border-radius: 50%;
  width: 24em;
  height: 24em;

  &:after {
    border-radius: 50%;
    width: 16em;
    height: 16em;
  }

  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: translateY(-50%) rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: translateY(-50%) rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: translateY(-50%) rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: translateY(-50%) rotate(360deg);
    }
  }
}
