@import "/css/base.css";
@import "/css/dependencies.css";
@import "/css/xf.css";
@import "/css/kalturavideopicker.css";

/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
        margin-bottom: 8px;
    }

    button {
        margin-top: 20px;
    }
}

@layer components {
    .tw-translate-center {
        top: 50%;
        transform: translateY(-50%);
    }
    .tw-form {
        @apply flex flex-col justify-center w-full max-w-xl sm:w-8/12 mx-auto space-y-2;
    }

    .tw-input {
        @apply block float-none w-full;

        input {
            @apply bg-fedex-light w-full #{!important}
        }

        &.error input {
            @apply border-red-500
        }

        &.error span {
            @apply text-red-500 #{!important}
        }
    }

    .tw-button {
        @apply w-full sm:w-auto mx-auto
    }
}
